# Compiled java classes
*.class
bin/

# Maven/ant build dir
target/

# intellij specific files
*.idea
*.iml

#test specific files 
test-output/
/.sonar
sonar-project.properties

=======
# Deployment files
*.jar
*.war
*.ear
*.orig

# Mac files
*.DS_STORE

# App Log files
log/
*.log